.alert {
    margin:2% auto;
    width: 95%;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    text-align: center;
}

.alert h1{
    margin-top: 10px;
    font-size: 1.4rem;
    font-weight: 600;
    background: linear-gradient(31deg, rgba(2,0,36,1) 0%, rgba(217,37,240,0.99) 0%, rgba(190,62,241,1) 13%, rgba(174,77,241,1) 21%, rgba(166,85,241,1) 25%, rgba(143,106,242,1) 47%, rgba(12,228,245,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.alert h3{
    font-size: 1.1rem;
    display: inline-block;
    margin-top: 2px;
}

.alert img{
    margin-bottom: 5px;
    width: 25px;
    border-radius: 20px;
    margin-right: 10px;
    display: inline-block;
}

.imageData{
    margin-top: 15px;
}

.alert p{
    display: inline-block;
    color: white;
    font-size: 0.92rem;
    /* font-weight: 600; */
}

.fromClass h1{
    display: inline-block;
}