.invest {
    margin-bottom: 3%;
    margin-top: 7%;
}

.highlight {
    background: -webkit-linear-gradient(31deg, rgba(2,0,36,1) 0%, rgba(37,240,67,0.9897001036742822) 0%, rgba(12,228,245,1) 93%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.investForm {
    display: inline-block;
    margin: 2% auto;
    width: 65%;
    background-color: rgb(14, 17, 26);
    border-radius: 20px;
}
.investForm h1{
    color: white;
    margin-top: 3%;
    font-size: 1.8rem;
    font-weight: 700;
    /* margin-left: 6%; */
    text-align: center;
}

.investForm form {
    margin-top: 3%;
    margin-left: 12%;
}

.investForm span {
    text-align: center;
    color: white;
}

.investBtn {
    margin-left: 9%;
    margin-top: 7%;
    margin-bottom: 5%;
}

.allow {
    margin-left: 8%;
    margin-top: 5%;
    width: 500px;
}

.invest i {
    margin-left: 5%;
    color: white;
    position: relative;
    top:5px;
}

.invest img {
    animation-name: float;
    animation-iteration-count: infinite;
    animation-duration: 3.5s;
    animation-direction: alternate;
}

@keyframes float {
    0% {
        transform: translateY(-2%);
    }
    100%{
        transform: translateY(2%);
    }
}

.info {
    cursor: pointer;
    margin-top: 20px;
    width: 325px;
}

@media (min-width: 1400px) {
    .investForm form{
        margin-left: 18%;
    }
}


@media (max-width:750px) {
    .invest img{
        width: 450px;
        margin: 5% auto;
    }

    .investForm{
        margin-top: 12%;
    }
}