.highlight {
    background: -webkit-linear-gradient(31deg, rgba(2,0,36,1) 0%, rgba(37,240,67,0.9897001036742822) 0%, rgba(12,228,245,1) 93%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.investForm h1{
    font-size: 1.8rem;
    font-weight: 700;
}