.highlight{
    background: -webkit-linear-gradient(31deg, rgba(2,0,36,1) 0%, rgba(37,240,67,0.9897001036742822) 0%, rgba(12,228,245,1) 93%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.description {
    margin: 3% auto;
    margin-left: 18%;
    width: 80%;
}

.description h2{
    width: 90%;
    font-size: 3.3rem;
    font-weight: 700;
    line-height: 1;
}

.description p {
    margin-top: 2%;
    margin-bottom: 2%;
    width: 85%;
    font-size: 1rem;
}

.link {
    font-size: 1rem;
    margin-left: 2%;
}

.landingPage {
    margin-top: 7%;
}

.images {
    margin-left: 7%;
    margin-top: 7%;
}

.discount {
    display: inline-block;
    z-index: 10;
    position: relative;
    bottom: 32%;
    right: 8%;
}

.about {
    margin-bottom: 7%; 
}

.about h1{
    /* width: 90%; */
    text-align: center;
    font-size: 3.4rem;
    font-weight: 700;
    line-height: 1; 
}

.about h4{
    margin: 4% auto;
    font-size: 1.15rem;
    width: 60%;
    text-align: center;
}
.filecoin{
    width: 150px;
    position: relative;
    /* transform: rotate(15deg); */
    display: inline-block;
    left: 4%;
    top:100px;
    z-index: 10;
}

.chainlink {
    z-index: 10;
    width: 150px;
    top:10px;
    display: inline-block;
    position: relative;
    transform: rotate(-45deg);
    left: 72%;
}

.uniswap{
    z-index: 10;
    width: 150px;
    /* top:10px; */
    bottom: 10px;
    display: inline-block;
    position: relative;
    transform: rotate(-15deg);
    left: 45%;
}

@media (max-width:765px){
    .images{
        margin-top: 13%;
        margin-left: 20%;
    }
}